*.bak
result*.json
figures/
images/
a_mesh/
b_mesh/
precice*/
out/
mapped/
input_mesh.vtu
result*.vtu
*.pdf
archives/
*.log
checks/
*.vtk
blade/
input.vtu
*.png
input_modified.vtu
export/
config.json
*.tar.gz
meshes/
*.vtu
.ruff_cache
stretched/
test/
*.slurm
__pycache__/
*.pyc
*.xml
cfd-data/
*.csv
*.out
bin/
obj/
.vscode/
*.toml
*_.py